@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Bem-vindos</h4>
    <h2><p>Aqui você pode cadastrar, editar e explorar sua coleção de livros com facilidade. Organize suas leituras e mantenha tudo sob controle com apenas alguns cliques.<br> Boa navegação!</p></h2>
    <img src="./css/Mídia.jpg" alt="" />
    <p><em>Os 10 melhores <a href="https://betrend.pt/blogs/betrend/melhores-livros-para-ler" target="_blank">livros</a> para ler pelo menos uma vez na vida.</em></p>
</div>
